nav img {
    width: 120px;
  }
  
.navbar-nav {
    margin-left: auto;
 }

 footer {
    background: #1f5271;  
    height: 130px;
 }

.footer__copy {
    --padding-container: 30px 0;
    text-align: center;
    color: #fff;
}

.footer__copyright {
    font-weight: 300;
}

.footer__icons {
    margin-bottom: 10px;
}

.footer__img {
    width: 30px;
}

.footer__copyright {
    font-weight: 300;
}